:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
}

body {
  /* font-family: "Raleway", sans-serif; */
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;

  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.container {
  width: 1200px;
  margin: auto;
  margin-top: 0;
  padding: 0 15px;
}

h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
  padding: 0;
}

ul,
a {
  list-style-type: none;
  text-decoration: none;
}

.hidden-text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
  clip-path: inset(100%);
}

.title-h2 {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

/*                    КОНЕЦ            * <ОСНОВНЫЕ СТИЛИ> */
/* логотип */

.logo {
  display: inline-block;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 0.83;
}

.header__logo {
  margin-right: 93px;
  color: #000000;
}

.footer__logo {
  margin-bottom: 20px;
  color: #ffffff;
}

.logo__web {
  color: #2196f3;
}
/* конец логотип */

/*                                     хедер */

/* навигация сайта */
.header {
  border: 1px solid #ececec;
}

.header__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  margin: 0;
  margin-right: 305px;
  padding-left: 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.menu__list .menu__link::after {
  content: "";
  opacity: 0;

  position: absolute;
  bottom: -1px;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.menu__link.accent::after {
  opacity: 1;
}

.menu__link {
  position: relative;
  display: inline-block;
  padding: 32px 0px;
  color: var(--secondary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link.accent {
  color: var(--accent-color);
}

.menu__link:hover,
.menu__link:focus {
  color: var(--accent-color);
}

.menu__list:not(:last-child) {
  margin-right: 50px;
}

.header__contact {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding-left: 0;
}

.contact__item:not(:last-child) {
  margin-right: 30px;
}

.contact__link {
  display: flex;
  align-items: center;
  padding: 32px 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contact__icon :not(:last-child) {
  margin-right: 10px;
}

.contact__link:hover,
.contact__link:focus {
  color: var(--accent-color);
}

/*конец навигации сайта */

/*                                    mein index.html */

/* герой */
.button {
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: #ffffff;

  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: var(--accent-color);

  cursor: pointer;
  border: none;
}

.button-center {
  text-align: center;
}

.section--hero {
  text-align: center;
  background: #2f303a;
  padding: 200px 0px;
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background.jpg);
}

.hero-title {
  width: 696px;
  margin: auto;
  margin-bottom: 30px;

  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;

  color: #ffffff;
}

/* особености нашей команды */

.peculiarities {
  padding: 94px 0;
}

.peculiarities__menu {
  display: flex;
  justify-content: center;
}

.peculiarities__list:not(:last-child) {
  margin-right: 30px;
}

.peculiarities__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background: #f5f4fa;
  border-radius: 4px;
}

.peculiarities__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}

.peculiarities__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
}
/* конец особености нашей команды */

/* чем мы занимается наша команда */
.we-do {
  padding-bottom: 94px;
}

.we-do__menu {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-left: 0;
}

.we-do__list {
  position: relative;
}

.we-do__block {
  position: absolute;
  width: 100%;
  bottom: 7px;
  background: rgba(47, 48, 58, 0.8);
}

.we-do__text {
  margin: 0;
  padding: 27px 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.we-do__list:not(:last-child) {
  margin-right: 30px;
}

.command__list:not(:last-child) {
  margin-right: 30px;
}

/* наша команда */

.command {
  margin-top: 0;
  padding-top: 94px;
  padding-bottom: 94px;

  background: #f5f4fa;
}

.command__menu {
  display: flex;
  margin: 0;
  padding: 0;
}

.command__list {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.command__blok {
  padding-top: 30px;
  padding-bottom: 16px;
  text-align: center;
}

.command__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;

  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.command__profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  margin: 0;

  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/*                              social-media */

.social {
  display: flex;
  margin: auto;
  width: 206px;
  padding-left: 0;
  padding-bottom: 30px;
}

.social__menu:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover,
.social__link:focus {
  fill: #ffffff;
  background: var(--accent-color);
}

/* Постоянные клиенты */

.regular-clients {
  padding: 94px 0px;
}

.clients {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.clients-icon:not(:last-child) {
  margin-right: 30px;
}
/* ссылка */
.icon-compan {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  fill: #afb1b8;

  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-compan:hover,
.icon-compan:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

/*                                         mein portfolio.html */
.portfolio-section {
  padding: 94px 0px;
}
/* уникальный контент страницы */

/*кнопки фильтра*/

.filter {
  font-family: "Roboto";
  font-style: normal;
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  background: #f5f4fa;
  border-radius: 4px;
  border: none;

  color: var(--secondary-text-color);

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button li:not(:last-child) {
  margin-right: 8px;
}

.filter:hover,
.filter:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-button {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
  padding-left: 0;
}

/* нашы проекты */

.projects {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
}

.projects-li {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;

  transition-property: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-link:hover,
.projects-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-li:nth-child(3n) {
  margin-right: 0px;
}

.projects-li:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.projects-link {
  display: block;
  text-decoration: none;
  overflow: hidden;
}

.animated-section {
  height: 294px;
  overflow: hidden;
}

.projects-img {
  display: block;
}

.text-projects {
  display: flex;
  align-items: center;
  height: 294px;
  margin: 0;
  padding: 0 24px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #2196f3;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-link:hover .text-projects {
  transform: translateY(-294px);
}

.blok {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.blok h3 {
  margin-top: 0;
  margin-bottom: 4px;
}

.projects h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.projects-p {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

/*                                      подвал сайта*/

/* footer */

.address {
  font-style: normal;
}

.address-list {
  margin: 0;
  padding-left: 0;
}

.address-list li {
  margin-bottom: 9px;
}

footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

/* адрес и контакты студии */

footer a {
  text-decoration: none;
}

.address-link {
  color: #ffffff;
}

.address-contakt {
  color: rgba(255, 255, 255, 0.6);
}

.footer {
  display: flex;
  justify-content: space-between;
}

.social-footer {
  padding-top: 10px;
  margin-left: 70px;
}

.social-footer h2 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
.icob-footer {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
}

/* subscription */

.subscription {
  margin-left: 93px;
}

.subscription-titel {
  margin-bottom: 20px;
  padding-top: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.subscription-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-footer {
  width: 358px;
  height: 50px;
  padding-left: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  color: #ffffff;
}

.input-footer::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.button-subscription {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;

  color: #ffffff;
  margin-left: 12px;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.button-send {
  margin-left: 10px;
  fill: var(--white-color);
}

/* modal-window */

.modal-section {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;

  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.button-modal {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;

  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal:hover {
  fill: var(--accent-color);
}

/* form */

.form-titel {
  margin: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

/*               form */
.form {
}

.form__blok {
  margin: 0;
  height: 58px;
  position: relative;
}

.form__blok:not(:last-child) {
  margin-bottom: 10px;
}

.form__blok--textarea {
  height: 138px;
}

.form__label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.66;

  letter-spacing: 0.01em;

  color: #757575;
}

.form__input {
  width: 100%;
  height: 40px;
  padding: 0 10px 0 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover + .form__icon {
  fill: var(--accent-color);
}

.form__input:hover {
  border: 1px solid #2196f3;
  cursor: pointer;
}

.form__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__textarea:hover {
  border: 1px solid #2196f3;
  cursor: pointer;
}

.form__textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form__icon {
  position: absolute;
  top: 60%;
  left: 12px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*                 agreement-conditions */

.agreement-conditions {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.agreement-conditions__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.agreement-conditions__checked {
  width: 16px;
  height: 15px;
  margin-right: 7px;

  border: 2px solid #212121;
  box-sizing: border-box;
  border-radius: 2px;
}

.agreement-conditions__checkbox:checked + .agreement-conditions__checked {
  border-color: var(--accent-color);
  background-origin: border-box;
  background-size: contain;
  background-image: url("../images/SVG/check.svg");
  border: none;
}

.agreement-conditions__text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: #757575;
}

.agreement-conditions__link {
  text-decoration: underline;
  color: var(--accent-color);
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
  clip-path: inset(100%);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
